In [12]:
import numpy as np
import pandas as pd
from keras.preprocessing.image import ImageDataGenerator,load_img
from sklearn.model_selection import train_test_split
import os

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
# Reading the images and creating it to data frame

images=os.listdir("C:/Users/USER/Downloads/cat vs dog/cat vs dog")
categories=[]
for i in images:
    category=i.split('.')[0]
    if category=='cat':
        categories.append(0)
    else:
        categories.append(1)
        
df=pd.DataFrame({'File':images, 'category':categories})

In [3]:
df.head()

           File  category
0     cat.1.jpg         0
1    cat.10.jpg         0
2   cat.100.jpg         0
3  cat.1000.jpg         0
4  cat.1001.jpg         0

In [4]:
# Checking non-image file

a=[i for i in df['File'] if not i.endswith('.jpg')]
a

['_DS_Store']

In [5]:
# Finding the index of non-image file 

np.where(df['File']=='_DS_Store')

(array([8005], dtype=int64),)

In [6]:
# Droping the non-image file

df.drop(df.index[8005],inplace=True)

In [7]:
df.shape

(8005, 2)

In [8]:
# Data frames are suffled by sample function(frac=1--->100% suffle)

df=df.sample(frac=1,random_state=42)
df.head()

              File  category
7587   dog.625.jpg         1
6296  dog.3063.jpg         1
7050  dog.3742.jpg         1
2107  cat.2896.jpg         0
5577  dog.2417.jpg         1

In [67]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D,MaxPooling2D,Dropout,Activation,BatchNormalization,Flatten,Dense

In [68]:
model=Sequential()
model.add(Conv2D(30,(3,3),activation='relu',input_shape=(120,120,3)))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Conv2D(75,(3,3),activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Conv2D(120,(3,3),activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(220,activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(2,activation='softmax'))
model.compile(optimizer='rmsprop',loss='categorical_crossentropy',metrics=['accuracy'])

In [69]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 118, 118, 30)      840
_________________________________________________________________
batch_normalization (BatchNo (None, 118, 118, 30)      120
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 59, 59, 30)        0
_________________________________________________________________
dropout (Dropout)            (None, 59, 59, 30)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 57, 57, 75)        20325
_________________________________________________________________
batch_normalization_1 (Batch (None, 57, 57, 75)        300
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 28, 28, 75)        0
_________________________________________________________________
dropout_1 (Dropout)          (None, 28, 28, 75)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 26, 26, 120)       81120
_________________________________________________________________
batch_normalization_2 (Batch (None, 26, 26, 120)       480
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 13, 13, 120)       0
_________________________________________________________________
dropout_2 (Dropout)          (None, 13, 13, 120)       0
_________________________________________________________________
flatten (Flatten)            (None, 20280)             0
_________________________________________________________________
dense (Dense)                (None, 220)               4461820
_________________________________________________________________
batch_normalization_3 (Batch (None, 220)               880
_________________________________________________________________
dropout_3 (Dropout)          (None, 220)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 442
=================================================================
Total params: 4,566,327
Trainable params: 4,565,437
Non-trainable params: 890
_________________________________________________________________

In [70]:
from keras.callbacks import EarlyStopping, ReduceLROnPlateau

In [96]:
early_stopping=EarlyStopping(monitor='val_accuracy',
                            patience=10)
reduce_lr=ReduceLROnPlateau(monitor='val_accuracy',
                           patience=5,
                           factor=0.5,
                           verbose=1,
                           min_lr=0.00001)
callback=[reduce_lr,early_stopping]

In [97]:
df.head()

              File category
7587   dog.625.jpg      Dog
6296  dog.3063.jpg      Dog
7050  dog.3742.jpg      Dog
2107  cat.2896.jpg      Cat
5577  dog.2417.jpg      Dog

In [98]:
# output should be in categories. If int o/p is passed to generator error occurs on class_mode.

df['category']=df['category'].replace({0:'Cat',1:'Dog'})

In [99]:
# data frame is seperated to train and validation

train_df,validation_df=train_test_split(df,test_size=0.2,random_state=42)

In [100]:
train_df.shape, validation_df.shape

((6404, 2), (1601, 2))

In [101]:
# Due to shuffle index won't be in order, so reseting it

train_df=train_df.reset_index(drop=True)
train_df.head()

           File category
0   cat.596.jpg      Cat
1  cat.3011.jpg      Cat
2  cat.2206.jpg      Cat
3   dog.635.jpg      Dog
4  cat.2202.jpg      Cat

In [102]:
validation_df=validation_df.reset_index(drop=True)
validation_df.head()

           File category
0    dog.73.jpg      Dog
1  dog.3279.jpg      Dog
2   dog.242.jpg      Dog
3  cat.1051.jpg      Cat
4   dog.289.jpg      Dog

In [103]:
# Creating batch size, image size

batch_size=15
image_size=(120,120)
# Creating image data generator

train_gen=ImageDataGenerator(rotation_range=15,
                             width_shift_range=0.2,
                             height_shift_range=0.2,
                             horizontal_flip=True,
                             rescale=1./255)
                             

train_generator=train_gen.flow_from_dataframe(train_df,
                                             directory='C:/Users/USER/Downloads/cat vs dog/cat vs dog',
                                             x_col='File',
                                             y_col='category',
                                             class_mode='categorical',
                                             target_size=image_size,
                                             batch_size=batch_size)

Found 6404 validated image filenames belonging to 2 classes.

In [104]:
validation_gen=ImageDataGenerator(rescale=1./255)

validation_generator=validation_gen.flow_from_dataframe(validation_df,
                                             directory='C:/Users/USER/Downloads/cat vs dog/cat vs dog',
                                             x_col='File',
                                             y_col='category',
                                             class_mode='categorical',
                                             target_size=image_size,           
                                             batch_size=batch_size)

Found 1601 validated image filenames belonging to 2 classes.

In [105]:
history = model.fit_generator(train_generator,
                             steps_per_epoch=6404//15,
                             epochs=50,
                             verbose=1,
                             callbacks=callback,
                             validation_data=validation_generator,
                             validation_steps=1601//15)

C:\Users\USER\anaconda3\lib\site-packages\tensorflow\python\keras\engine\training.py:1940: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  warnings.warn('`Model.fit_generator` is deprecated and '

Epoch 1/50
426/426 [==============================] - 261s 613ms/step - loss: 0.6186 - accuracy: 0.6638 - val_loss: 0.5986 - val_accuracy: 0.6730
Epoch 2/50
426/426 [==============================] - 282s 662ms/step - loss: 0.5838 - accuracy: 0.6885 - val_loss: 0.7762 - val_accuracy: 0.6396
Epoch 3/50
426/426 [==============================] - 253s 594ms/step - loss: 0.5661 - accuracy: 0.7101 - val_loss: 0.5872 - val_accuracy: 0.7063
Epoch 4/50
426/426 [==============================] - 241s 565ms/step - loss: 0.5340 - accuracy: 0.7305 - val_loss: 0.5057 - val_accuracy: 0.7604
Epoch 5/50
426/426 [==============================] - 224s 526ms/step - loss: 0.5228 - accuracy: 0.7385 - val_loss: 0.5912 - val_accuracy: 0.7428
Epoch 6/50
426/426 [==============================] - 214s 503ms/step - loss: 0.4980 - accuracy: 0.7633 - val_loss: 0.4901 - val_accuracy: 0.7522
Epoch 7/50
426/426 [==============================] - 212s 498ms/step - loss: 0.4842 - accuracy: 0.7654 - val_loss: 0.4015 - val_accuracy: 0.8264
Epoch 8/50
426/426 [==============================] - 212s 497ms/step - loss: 0.4689 - accuracy: 0.7781 - val_loss: 0.4276 - val_accuracy: 0.8107
Epoch 9/50
426/426 [==============================] - 211s 496ms/step - loss: 0.4512 - accuracy: 0.7840 - val_loss: 0.4109 - val_accuracy: 0.8107
Epoch 10/50
426/426 [==============================] - 210s 493ms/step - loss: 0.4477 - accuracy: 0.7939 - val_loss: 0.5753 - val_accuracy: 0.7491
Epoch 11/50
426/426 [==============================] - 211s 494ms/step - loss: 0.4311 - accuracy: 0.8028 - val_loss: 0.5059 - val_accuracy: 0.7503
Epoch 12/50
426/426 [==============================] - 212s 497ms/step - loss: 0.4260 - accuracy: 0.8033 - val_loss: 0.3840 - val_accuracy: 0.8453
Epoch 13/50
426/426 [==============================] - 212s 497ms/step - loss: 0.4058 - accuracy: 0.8178 - val_loss: 0.4604 - val_accuracy: 0.7981
Epoch 14/50
426/426 [==============================] - 2204s 5s/step - loss: 0.4188 - accuracy: 0.8133 - val_loss: 0.3588 - val_accuracy: 0.8560
Epoch 15/50
426/426 [==============================] - 211s 494ms/step - loss: 0.3998 - accuracy: 0.8197 - val_loss: 0.6531 - val_accuracy: 0.7597
Epoch 16/50
426/426 [==============================] - 211s 495ms/step - loss: 0.3762 - accuracy: 0.8327 - val_loss: 0.4069 - val_accuracy: 0.8447
Epoch 17/50
426/426 [==============================] - 212s 496ms/step - loss: 0.3891 - accuracy: 0.8285 - val_loss: 0.4239 - val_accuracy: 0.8151
Epoch 18/50
426/426 [==============================] - 211s 495ms/step - loss: 0.3840 - accuracy: 0.8278 - val_loss: 0.3677 - val_accuracy: 0.8396
Epoch 19/50
426/426 [==============================] - 210s 493ms/step - loss: 0.3793 - accuracy: 0.8322 - val_loss: 0.3874 - val_accuracy: 0.8226

Epoch 00019: ReduceLROnPlateau reducing learning rate to 0.0005000000237487257.
Epoch 20/50
426/426 [==============================] - 210s 494ms/step - loss: 0.3492 - accuracy: 0.8469 - val_loss: 0.3116 - val_accuracy: 0.8723
Epoch 21/50
426/426 [==============================] - 213s 501ms/step - loss: 0.3454 - accuracy: 0.8485 - val_loss: 0.2863 - val_accuracy: 0.8943
Epoch 22/50
426/426 [==============================] - 215s 505ms/step - loss: 0.3384 - accuracy: 0.8505 - val_loss: 0.2879 - val_accuracy: 0.8774
Epoch 23/50
426/426 [==============================] - 214s 502ms/step - loss: 0.3297 - accuracy: 0.8557 - val_loss: 0.2865 - val_accuracy: 0.8836
Epoch 24/50
426/426 [==============================] - 216s 506ms/step - loss: 0.3355 - accuracy: 0.8582 - val_loss: 0.3541 - val_accuracy: 0.8472
Epoch 25/50
426/426 [==============================] - 216s 506ms/step - loss: 0.3307 - accuracy: 0.8582 - val_loss: 0.3205 - val_accuracy: 0.8969
Epoch 26/50
426/426 [==============================] - 216s 507ms/step - loss: 0.3246 - accuracy: 0.8652 - val_loss: 0.3178 - val_accuracy: 0.8742
Epoch 27/50
426/426 [==============================] - 218s 511ms/step - loss: 0.3175 - accuracy: 0.8657 - val_loss: 0.2935 - val_accuracy: 0.8799
Epoch 28/50
426/426 [==============================] - 214s 502ms/step - loss: 0.3209 - accuracy: 0.8612 - val_loss: 0.3468 - val_accuracy: 0.8415
Epoch 29/50
426/426 [==============================] - 211s 496ms/step - loss: 0.3163 - accuracy: 0.8587 - val_loss: 0.2523 - val_accuracy: 0.8987
Epoch 30/50
426/426 [==============================] - 212s 498ms/step - loss: 0.3049 - accuracy: 0.8695 - val_loss: 0.3204 - val_accuracy: 0.8805
Epoch 31/50
426/426 [==============================] - 214s 502ms/step - loss: 0.3011 - accuracy: 0.8738 - val_loss: 0.2764 - val_accuracy: 0.8937
Epoch 32/50
426/426 [==============================] - 224s 526ms/step - loss: 0.3185 - accuracy: 0.8638 - val_loss: 0.3174 - val_accuracy: 0.8767
Epoch 33/50
426/426 [==============================] - 220s 515ms/step - loss: 0.3068 - accuracy: 0.8648 - val_loss: 0.2914 - val_accuracy: 0.8824
Epoch 34/50
426/426 [==============================] - 219s 514ms/step - loss: 0.3048 - accuracy: 0.8709 - val_loss: 0.2865 - val_accuracy: 0.8893

Epoch 00034: ReduceLROnPlateau reducing learning rate to 0.0002500000118743628.
Epoch 35/50
426/426 [==============================] - 220s 516ms/step - loss: 0.3014 - accuracy: 0.8734 - val_loss: 0.2526 - val_accuracy: 0.8994
Epoch 36/50
426/426 [==============================] - 220s 516ms/step - loss: 0.2823 - accuracy: 0.8812 - val_loss: 0.3654 - val_accuracy: 0.8434
Epoch 37/50
426/426 [==============================] - 221s 519ms/step - loss: 0.2925 - accuracy: 0.8732 - val_loss: 0.2460 - val_accuracy: 0.9101
Epoch 38/50
426/426 [==============================] - 221s 520ms/step - loss: 0.2957 - accuracy: 0.8704 - val_loss: 0.2600 - val_accuracy: 0.8818
Epoch 39/50
426/426 [==============================] - 222s 522ms/step - loss: 0.2875 - accuracy: 0.8796 - val_loss: 0.2427 - val_accuracy: 0.9038
Epoch 40/50
426/426 [==============================] - 222s 521ms/step - loss: 0.2818 - accuracy: 0.8820 - val_loss: 0.2762 - val_accuracy: 0.8799
Epoch 41/50
426/426 [==============================] - 216s 507ms/step - loss: 0.2772 - accuracy: 0.8834 - val_loss: 0.2378 - val_accuracy: 0.9063
Epoch 42/50
426/426 [==============================] - 214s 503ms/step - loss: 0.2706 - accuracy: 0.8870 - val_loss: 0.2642 - val_accuracy: 0.8975

Epoch 00042: ReduceLROnPlateau reducing learning rate to 0.0001250000059371814.
Epoch 43/50
426/426 [==============================] - 218s 511ms/step - loss: 0.2619 - accuracy: 0.8922 - val_loss: 0.2490 - val_accuracy: 0.9019
Epoch 44/50
426/426 [==============================] - 217s 510ms/step - loss: 0.2659 - accuracy: 0.8893 - val_loss: 0.2429 - val_accuracy: 0.9044
Epoch 45/50
426/426 [==============================] - 233s 546ms/step - loss: 0.2616 - accuracy: 0.8929 - val_loss: 0.2439 - val_accuracy: 0.9094
Epoch 46/50
426/426 [==============================] - 233s 547ms/step - loss: 0.2655 - accuracy: 0.8879 - val_loss: 0.2409 - val_accuracy: 0.9044
Epoch 47/50
426/426 [==============================] - 228s 535ms/step - loss: 0.2719 - accuracy: 0.8857 - val_loss: 0.2397 - val_accuracy: 0.9113
Epoch 48/50
426/426 [==============================] - 225s 527ms/step - loss: 0.2565 - accuracy: 0.8958 - val_loss: 0.2369 - val_accuracy: 0.9113
Epoch 49/50
426/426 [==============================] - 226s 530ms/step - loss: 0.2537 - accuracy: 0.8920 - val_loss: 0.2464 - val_accuracy: 0.9101
Epoch 50/50
426/426 [==============================] - 227s 533ms/step - loss: 0.2650 - accuracy: 0.8907 - val_loss: 0.2457 - val_accuracy: 0.9063

In [106]:
model.save('catvsdog_50epoch.h5')

In [2]:
from keras.models import load_model

In [3]:
model=load_model('catvsdog_50epoch.h5')

In [4]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 118, 118, 30)      840
_________________________________________________________________
batch_normalization (BatchNo (None, 118, 118, 30)      120
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 59, 59, 30)        0
_________________________________________________________________
dropout (Dropout)            (None, 59, 59, 30)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 57, 57, 75)        20325
_________________________________________________________________
batch_normalization_1 (Batch (None, 57, 57, 75)        300
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 28, 28, 75)        0
_________________________________________________________________
dropout_1 (Dropout)          (None, 28, 28, 75)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 26, 26, 120)       81120
_________________________________________________________________
batch_normalization_2 (Batch (None, 26, 26, 120)       480
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 13, 13, 120)       0
_________________________________________________________________
dropout_2 (Dropout)          (None, 13, 13, 120)       0
_________________________________________________________________
flatten (Flatten)            (None, 20280)             0
_________________________________________________________________
dense (Dense)                (None, 220)               4461820
_________________________________________________________________
batch_normalization_3 (Batch (None, 220)               880
_________________________________________________________________
dropout_3 (Dropout)          (None, 220)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 442
=================================================================
Total params: 4,566,327
Trainable params: 4,565,437
Non-trainable params: 890
_________________________________________________________________

In [86]:
im=os.listdir("C:/Users/USER/Pictures/cat vs dog test")
im

['cat_1.jpg', 'cat_2.jpg', 'cat_3.jpg', 'dog_1.jpg', 'dog_2.jpg', 'dog_3.jpg']

In [87]:
image_size=(120,120)

In [88]:
test_df=pd.DataFrame({'file':im})
test_df

        file
0  cat_1.jpg
1  cat_2.jpg
2  cat_3.jpg
3  dog_1.jpg
4  dog_2.jpg
5  dog_3.jpg

In [89]:
test_gen=ImageDataGenerator(rescale=1./255)

test_generator=test_gen.flow_from_dataframe(test_df,
                                             directory="C:/Users/USER/Pictures/cat vs dog test",
                                             x_col='file',
                                             y_col=None,
                                             class_mode=None,
                                             target_size=image_size)

Found 6 validated image filenames.

In [90]:
predict=model.predict_classes(test_generator)

C:\Users\USER\anaconda3\lib\site-packages\keras\engine\sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [91]:
test_df['predict']=predict

In [92]:
test_df['predict']=test_df['predict'].replace({0:'cat',1:'dog'})
test_df

        file predict
0  cat_1.jpg     cat
1  cat_2.jpg     cat
2  cat_3.jpg     dog
3  dog_1.jpg     dog
4  dog_2.jpg     cat
5  dog_3.jpg     dog